/*****************************************************************************
  stud_fin
******************************************************************************/


@import '../../bower_components/bourbon/dist/_bourbon.scss';
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';





/*****************************************************************************
  Base Styles
******************************************************************************/

*{
  /*transition: 1s ease all;*/
  font-family: 'Lato';
}

.imagess{
	height: 500px;
	width: 100%;
	font-size: 20px;
	color: white;
	padding-top: 100px;
}


p{
  padding: 25px;
}

.header{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: white;

}

.header p{
position: absolute;
    z-index: 1;
    top: 30%;
    left: 25%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      border-left: 2px solid white;
        border-bottom: 2px solid white;
      padding-left: 10px;
        font-size: 60px;


}

.header .arrow{
  position: absolute;
    z-index: 1;
    top: 75%;
    left: 49%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      height: 20px;
      width: 30px;
      -webkit-animation-name: bounce;
              animation-name: bounce;
   -webkit-animation-duration: 2s;
           animation-duration: 2s;
    animation-time-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;

-webkit-animation-name: bounce;
    -webkit-animation-duration: 2s;
    -webkit-animation-time-function: linear;
    -webkit-animation-iteration-count: infinite;

-moz-animation-name: bounce;
     -moz-animation-duration: 2s ; 
    -moz-animation-time-function: linear;
    -moz-animation-iteration-count: infinite;

    -ms-animation-name: bounce;
     -ms-animation-duration: 2s ; 
    -ms-animation-time-function: linear;
    -ms-animation-iteration-count: infinite;
    
  }

  @-webkit-keyframes bounce{
    0%, 20%, 50%, 80%, 100%{
      -webkit-transform:translateY(0px);
              transform:translateY(0px);
     
    }
    40%{
      -webkit-transform:translateY(-30px);
              transform:translateY(-30px);
   
    }

    60%{
      -webkit-transform:translateY(-15px);
              transform:translateY(-15px);
    
    }
  }

  @keyframes bounce{
    0%, 20%, 50%, 80%, 100%{
      -webkit-transform:translateY(0px);
              transform:translateY(0px);
     
    }
    40%{
      -webkit-transform:translateY(-30px);
              transform:translateY(-30px);
   
    }

    60%{
      -webkit-transform:translateY(-15px);
              transform:translateY(-15px);
    
    }
  }


  




.header .bg{
  width: 100%;
  height: 100%;
}

.header span{
  position: absolute;
    z-index: 1;
    top: 90%;
    left: 45%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      border-bottom: 1px solid white;
}



.text-one p{
	padding-left: 220px;
	padding-right: 220px;
	padding-top: 80px;
	line-height: 40px;
	text-align: left;
	margin-top: 15px;
	text-indent: 50px;

}
.text-one p img{
	border-radius: 285px 50px 30px 285px;
	border: 1px solid black;
	height: 210px;
	width: 350px;

}
.text-one p::first-letter{
 font-size: 80px;
 border-bottom: 4px solid black;
}

.text-one .mine{
  float: left;
  margin: 40px;
}

.text-one{
	text-align: center;
}

.img{
  height: 500px;
  width: 100%;
  color: blue;
  text-align: center;
  font-size: 200px;
box-shadow: 5px 5px 5px 5px rgba(0,0,0,.5);
overflow: hidden;
}

.img img{
  height: 500px;
  width: 100%;
  filter: blur(0px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  transition: 1s ease all;
 }

.img img:hover{
  filter: blur(0px);
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  transition: 1s ease all;
}


.ball{
  text-align: center;
  font-size: 30px;
  color: black;
}

.title{
  text-align: center;
  text-shadow: 1px 1px #000;
  margin-top: 0px;
  width: 100%;
  color: white;
  height: 100px;
  transition: 0.5s ease-in-out all;
  font-size: 50px;
position: absolute;
top: 0;
left: 0;
right: 0;
z-index: 0;


}

.fixed{
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 5px 5px rgba(0,0,0,.5);
  background-color: #fff;
  height: 80px;
  transition: 0.5s ease-in-out all;
  font-size: 30px;
  line-height: 80px;
  color: black;


}
.fixed:after{
  content: 'Is University Worth It?';
}
 
 ul li{
 	margin-right: 90px;
 }


li{
      width: 300px;
      height: 300px;
      -webkit-perspective: 600px;
              perspective: 600px;
     
      list-style: none;
      margin-bottom: 50px;
      position: relative;
      cursor: pointer;
      counter-increment: item; 
      text-align: center;


  }
  

ul li div {
        width: 100%;
        height: 100%;
        position: absolute;
        -webkit-transition: all .5s;
        -webkit-backface-visibility: hidden;
        -webkit-box-shadow: 0px 6px 10px -8px rgba(0, 0, 0, 0.8);
         -moz-transition: all .5s;
        -moz-backface-visibility: hidden;
        -moz-box-shadow: 0px 6px 10px -8px rgba(0, 0, 0, 0.8); 
         -ms-transition: all .5s;
        -ms-backface-visibility: hidden;
        -ms-box-shadow: 0px 6px 10px -8px rgba(0, 0, 0, 0.8);
  }

    
 ul li:hover .front {
        z-index: 0;
        -webkit-transform: rotateY(180deg); 
         -moz-transform: rotateY(180deg); 
          -ms-transform: rotateY(180deg); 
  }


ul li:hover .back {
 -webkit-transform: rotateY(0deg);
-moz-transform: rotateY(0deg);
-ms-transform: rotateY(0deg);
  }

 
ul li .front {
        z-index: 3;
        color: #b3b3b3;
        text-align: center;
        font-size: 35px;
        padding-top: 40px;
        background-color: #e3e3e3; }

   ul li .front:after {
  content: ""; 
  }

  ul li .back {
-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
-ms-transform: rotateY(180deg); 
}

ul li .back {
	      font-size: 40px;
	      line-height: 200px;
	
}
.flips{
  margin-top: 50px;

}



.low{
	font-size: 20px;
	color: white;
	text-align: center;
	display: block;
	width: 100%;
	height: 80px;
	line-height: 80px;
	background-color: #292261
}

/*****************************************************************************
  Layout Styles
******************************************************************************/

#text-one p{
	padding-left: 220px;
	padding-right: 220px;
	padding-top: 80px;
	line-height: 40px;
	text-align: left;
	margin-top: 15px;
	text-indent: 50px;

}
#text-one p img{
	border-radius: 285px 50px 30px 285px;
	border: 1px solid black;
	height: 210px;
	width: 350px;

}
#text-one p::first-letter{
 font-size: 80px;
 border-bottom: 4px solid black;
}

#text-one .mine{
  float: left;
  margin: 40px;
}

#text-one{
	text-align: center;
}


/*****************************************************************************
  Module Styles
******************************************************************************/


/******************************************************************************
  Media queries
*******************************************************************************/

@media screen and (max-width: 1150px){
.header{
	height: 80vh;
	width: 1150px;
}
p{
	padding: 0px;
	transition: 1s ease-in-out all;
}

#text-one p{
	padding-left: 180px;
	padding-right: 180px;
	padding-top: 40px;
	line-height: 40px;
	text-align: left;
	margin-top: 15px;
	text-indent: 50px;
	transition: 1s ease-in-out all;
}

#text-one p img{
	border-radius: 185px 50px 30px 185px;
	border: 1px solid black;
	height: 190px;
	width: 300px;
	transition: 1s ease-in-out all;

}
.text-one p{
  padding-left: 180px;
  padding-right: 180px;
  padding-top: 40px;
  line-height: 40px;
  text-align: left;
  margin-top: 15px;
  text-indent: 50px;
  transition: 1s ease-in-out all;
}

.text-one p img{
  border-radius: 185px 50px 30px 185px;
  border: 1px solid black;
  height: 190px;
  width: 300px;
  transition: 1s ease-in-out all;

}

}  

@media screen and (max-width: 950px){
 li{
 	width: 600px;
 }
}

@media screen and (max-width: 900px){

.header{
		width: 900px;
	}
.header p{
	position: absolute;
    z-index: 1;
    top: 30%;
    left: 20%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      border-left: 2px solid white;
      padding-left: 6px;
        font-size: 50px;
}


	#text-one p{
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 40px;
	line-height: 40px;
	text-align: left;
	margin-top: 35px;
	text-indent: 50px;
	transition: 1s ease-in-out all;
}
  #text-one p{
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
  line-height: 40px;
  text-align: left;
  margin-top: 35px;
  text-indent: 50px;
  transition: 1s ease-in-out all;
}

.text-one p{
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
  line-height: 40px;
  text-align: left;
  margin-top: 35px;
  text-indent: 50px;
  transition: 1s ease-in-out all;
}
  .text-one p{
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
  line-height: 40px;
  text-align: left;
  margin-top: 35px;
  text-indent: 50px;
  transition: 1s ease-in-out all;
}
.img{
	width: 900px;
	max-height: 400px;
	transition: 1s ease-in-out all;
}
.img img{
	width: 900px;
	height: 400px;

}

li{
	width: 450px;
}

}









@media screen and (max-width: 600px){

	.header{
		width: 600px;
	}
	

	#text-one p{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	line-height: 40px;
	text-align: left;
	margin-top: 35px;
	text-indent: 50px;
	transition: 1s ease-in-out all;
}
  .text-one p{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  line-height: 40px;
  text-align: left;
  margin-top: 35px;
  text-indent: 50px;
  transition: 1s ease-in-out all;
}
.img{
	width: 600px;
	max-height: 300px;
	transition: 1s ease-in-out all;
}
.img img{
	width: 600px;
	height: 300px;
	margin-bottom: 140px;
}

li{
	width: 350px;
}

.header p{
position: absolute;
    z-index: 1;
    top: 30%;
    left: 25%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      border-left: 2px solid white;
        border-bottom: 0px;
      padding-left: 10px;
        font-size: 60px;


}
}
